<html>
	<head>
		<title>VE Questions</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

		<style>
			.item { width: 96%; margin: 2% 2% 0px 2%; border: 1px solid gray;}
			#target, .row { width: 100%; }
		</style>

		<script>
			function refresh() {
				var type = $('#type').val();
				$.getJSON('/' + type + '/rand/json', function(data) {
					$('#question-header').html('');
					var template = $('#row').html();
					var rendered = Mustache.render(template, {row: data});

					$('#question-header').append(rendered);

					$('#answer').html('');

					var a_template = $('#answer-block').html();
					var a_rendered = Mustache.render(a_template, {row: data});

					$('#answer').append(a_rendered);

					var answer = data.answers;

					$('#questions').html('');

					for (a in answer) {	
						var q_template = $('#question-block').html();
						var q_rendered = Mustache.render(q_template, {answer: answer[a]});
						$('#questions').append(q_rendered);
					} 
					console.log(data);
				});
			}


			$(document).ready(function() {
				refresh();
				$('#type').change(function(e) {
					refresh();
				});

				$(document).on('click','#show-answer', function(e) {
					$('#show-answer').fadeOut(0);
					$('#answer').fadeIn(200);
				});
					
			});
		</script>

		<script id="row" type="xtmpl-mustache">
				<div class="question-header">{{ row.question_no }} - {{ row.question }}</div>
		</script>

		<script id="question-block" type="xtmpl-mustache">
				<div class="question">{{ answer.letter }} - {{ answer.answer }}</question>
		</script>

		<script id="answer-block" type="xtmpl-mustache">
				{{ row.correct_ans }}
		</script>

	</head>

	<body>
		<select id="type">
			<option>tech</option>
			<option>general</option>
			<option>extra</extra>
		</select>

		<div id="target"><div class="well" id="question-header"></div><div class="well" id="questions"></div><button id="show-answer">Show Answer</button><div class="well" style="display: none;" id="answer"></div></div>
	</body>
			
